<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="Mail.SMTP.Server" value="192.168.200.20" />
    <add key="Mail.User" value="info@crystalbet.com" />
    <!--
    <add key="Mail.Pass" value="1234Qwer@$" />
    -->
  </appSettings>
  <connectionStrings>
    <!-- DONOT REMOVE !!!
            <add name="TotalSoftConnectionString" connectionString="Data Source=192.168.100.80;Initial Catalog=TotalSoft;Persist Security Info=True;User ID=sa;Password=adl;Connection Timeout=60" providerName="System.Data.SqlClient" />
            <add name="TotalSoftConnectionString" connectionString="Data Source=80.241.244.242;Initial Catalog=TotalSoft;Persist Security Info=True;User ID=sa;Password=adl;Connection Timeout=60" providerName="System.Data.SqlClient" />
            <add name="TotalSoftConnectionString" connectionString="Data Source=91.233.15.165;Initial Catalog=TotalSoft;Persist Security Info=True;User ID=sa;Password=adl;Connection Timeout=60" providerName="System.Data.SqlClient" />
            
            <add name="Entities" connectionString="metadata=res://*/App_Code.GamblingModel.csdl|res://*/App_Code.GamblingModel.ssdl|res://*/App_Code.GamblingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.100.80;Initial Catalog=Gambling;Persist Security Info=True;User ID=sa;Password=adl;Connect Timeout=60;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
        -->
    <add name="TotalSoftConnectionString" connectionString="Data Source=91.233.15.165;Initial Catalog=TotalSoft;Persist Security Info=True;User ID=sa;Password=adl;Connection Timeout=60" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/App_Code.GamblingModel.csdl|res://*/App_Code.GamblingModel.ssdl|res://*/App_Code.GamblingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.100.80;Initial Catalog=Gambling;Persist Security Info=True;User ID=sa;Password=adl;Connect Timeout=60;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="Pages/Login.aspx?test=1" />
    </authentication>
    <sessionState mode="InProc" timeout="1" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Pages/ErrorPage.aspx">
      <error statusCode="404" redirect="~/Pages/FileNotFound.aspx" />
    </customErrors>
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"></pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Pages/StartPage.aspx" />
        <add value="Pages/TopGames.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>